.container {
	height: 1536px;
	width: 1024px;
	margin: auto;
}

.header, .footer, .main-green {
	height: 256px;
}

.main {
	height: 1024px;
	display: flex;
}

.box {
	width: 684px;
	height: 768px;
	display: flex;
}

.box-green, .box-blue {
	width: 428px;
}

.header {
	background-color: #e53935;
}

.footer {
	background-color: #1976d2;
}

.main-yellow {
	height: 1024px;
	width: 340px;
	background-color: #fbc02d;
}

.main-green {
	width: 684px;
	background-color: #8bc34a;
}

.box-green {
	height: 256px;
	background-color: #8bc34a;
	
}

.box-blue {
	height: 512px;
	background-color: #1976d2;
}

.box-yellow {
	height: 768px;
	width: 256px;
	background-color: #fbc02d;
	display: flex;
}